@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);
body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(45deg, #222d33, #27343b);
    -webkit-animation: gradient 6s infinite alternate;
    animation: gradient 6s infinite alternate;
    min-height: 100vh;
    background-size: cover;
    color: #e9eced;
    margin: 0% 30%;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    outline: none;
    color: #ffa500;
}

.header {
    position: fixed;
    top: 0;
    min-height: 25vh;
    background: white;
    border-radius: 0 0 50px 50px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: auto;
    text-align: center;
}

.bg-modal,
.bg-modal-edit {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content,
.modal-content-edit {
    background-color: white;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}

.modal-content h4 {
    margin: 10px 0px 20px 0px;
}

.duedate {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 15px;
    width: 30%;
}

input[type="checkbox"] {
    width: 5%;
    transform: scale(1.3);
}

input[type="datetime-local"] {
    width: 65%;
    font-family: "Montserrat", sans-serif;
    padding-left: 5px;
}

form {
    width: 100%;
    position: relative;
}

textarea {
    text-decoration: none;
    resize: none;
    outline: none;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.confirm,
.cancel,
.add {
    font-family: "Montserrat", sans-serif;
    width: 30%;
    margin: 0px 5px;
    padding: 10px 0px;
}

main {
    margin: 10% 5% 0% 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    height: 100%;
    padding-top: 40vh;
    width: 100%;
    text-align: right;
}

.container div h4 {
    margin: 15px 0px 5px 0px;
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    opacity: 0.5;
    color: white;
}

#title {
    font-size: 1.5rem;
}

.todo-list-counter {
    margin: 0;
    font-size: 70px;
    font-weight: 700;
    color: #1b262c;
    opacity: 0.8;
}

.header h5 {
    font-weight: 500;
    font-size: 12px;
    color: #53545d;
    position: relative;
    bottom: 10px;
    margin: 0;
}

ul {
    padding: 0;
}

.task {
    flex-grow: 1;
    min-height: 30px;
    text-align: left;
    width: 100%;
    list-style-type: none;
    margin: 5px;
}

.desc {
    padding: 10px 10px 10px 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s;
}

.desc:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

.desc span {
    display: block;
    width: 100%;
    font-size: 12px;
    opacity: 0.5;
    text-align: center;
}

.desc p {
    display: block;
    width: 100%;
}

.content {
    display: flex;
}

.finEdit,
.desc {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
        rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    display: flex;
    border-radius: 10px;
    margin: 2px;
}

.btns {
    display: flex;
}

.btns button {
    all: unset;
    padding: 10px;
    text-decoration: none;
    background: transparent;
    outline: none;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.finEdit {
    display: flex;
    flex-direction: column;
}

.content i {
    transform: scale(1);
}

.finished:hover {
    background-color: #008000;
}

.edit:hover {
    background-color: #1874cd;
}

.delete:hover {
    background-color: #990000;
}

.addBtn {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #1b262c;
    outline: none;
    background: #ffa500;
    height: 4rem;
    width: 4rem;
    border-radius: 10%;
    border: none;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    transform: translateY(50%);
    margin: auto;
}

#taskNo {
    display: none;
}
.addBtn:hover {
    width: 4.5rem;
    height: 4.5rem;
}

.edit {
    text-align: center;
}

button[name="finished"] {
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

button[name="edit"] {
    text-align: center;
}

button[name="delete"] {
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.empty {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        margin: 0;
        left: 0;
    }

    .task ul li {
        font-size: 13px;
    }

    label {
        font-size: 12px;
        margin-right: none;
    }
    .modal-content {
        width: 70%;
    }
    body {
        margin: 0;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
